snippet dd "Songli.Yu: Debug block."
-- HACK: <<<<<<< Songli.Yu: "${0}"

-- HACK: =======

-- HACK: >>>>>>> Songli.Yu: "${0}"
endsnippet

snippet di "Songli.Yu: Debug inline."
-- HACK: Songli.Yu: "${0}"
endsnippet

snippet vi "init.lua"
-- ===
-- === ${0}
-- ===
endsnippet

