snippet dd "Songli.Yu: Debug block."
-- HACK: <<<<<<< 🌈

-- HACK: ======= 🤡

-- HACK: >>>>>>> 🎀
endsnippet

snippet di "Songli.Yu: Debug inline."
-- HACK: 🎫
endsnippet

snippet vi "init.lua"
-- ===
-- === ${0}
-- ===
endsnippet

