snippet dd "Songli.Yu: Debug block."
-- HACK: <<<<<<< Songli.Yu: Debug block open.

-- HACK: =======

-- HACK: >>>>>>> Songli.Yu: Debug block close.
endsnippet

snippet di "Songli.Yu: Debug inline."
-- HACK: Songli.Yu: Debug inline.
endsnippet

snippet vi "init.lua"
-- ===
-- === ${0}
-- ===
endsnippet

