snippet dd "debug yusongli"
# ! <<< open debug yusongli

# ! ===
${0}
# ! >>> clos debug
endsnippet

snippet db "ipdbug yusongli"
import ipdb; ipdb.set_trace()  # ! debug yusongli
endsnippet

snippet d "debug yusongli"
# ! debug yusongli
endsnippet

snippet #! "shebang python"
#!/usr/bin/env python
endsnippet

