snippet dd "Songli.Yu: Debug block."
# HACK: <<<<<<< Songli.Yu: "${0}"

# HACK: =======

# HACK: >>>>>>> Songli.Yu: "${0}"
endsnippet

snippet db "Songli.Yu: Debug ipdb."
import ipdb; ipdb.set_trace()  # HACK: Songli.Yu: "${0}"
endsnippet

snippet di "Songli.Yu: Debug inline."
# HACK: Songli.Yu: "${0}"
endsnippet

