snippet dd "Songli.Yu: Debug block."
# HACK: <<<<<<< 🌈

# HACK: ======= 🤡

# HACK: >>>>>>> 🎀
endsnippet

snippet db "Songli.Yu: Debug ipdb."
import ipdb; ipdb.set_trace()  # HACK: 🍝
endsnippet

snippet di "Songli.Yu: Debug inline."
# HACK: 🎫
endsnippet

